<div class="two-slider slider-page-wrapp">
    <div class="wrapp-wrapp">
        <div class="two-img_wrapp">
            <div class="two-slider_wrapp js-two-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-text="Green Glazed Salad Bowl and Red Glazed Salad Bowl, $150 each">
                        <img src="source/images/content/homeware/img-9.jpg" class="img-block swiper-lazy">
                        {{!--<div class="img-block" style="background-image: url('source/images/content/homeware/img-9.jpg')"></div>--}}
                    </div>
                    <div class="swiper-slide" data-text="Hand-Blown Tea Glass</br>(Set of 6) Small, $54 and Large, $72">
                        <img src="source/images/content/homeware/img-12.jpg" class="img-block swiper-lazy">
                    </div>
                    <div class="swiper-slide big-slide empty" data-text="Large Bowl, $30; Small Bowl, $25; Salad Plate, $50;</br> Dinner Plate, $65; Urchin Condiment Bowl, $45; Tumbler, $25; Pitcher, $45">
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/homeware/img-4.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    <div class="swiper-slide empty" data-text="">
                        
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/homeware/img-21.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    <div class="swiper-slide empty" data-text="Rustic Berber Cushions, $110-$160">
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/homeware/img-14.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="slide-text">
            <p>
                <span></span>
            </p>
            <p>
                <span></span>
            </p>
        </div>
        <a href="#" class="btn-slider-prev">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-47.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;-copy" transform="translate(57.196578, 458.797708) scale(-1, 1) translate(-57.196578, -458.797708) " points="66.741726 459.836185 66.741726 457.759231 47.65143 447.595416 47.65143 450.070085 64.178677 458.775613 64.178677 458.863994 47.65143 467.525332 47.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
        <a href="#" class="btn-slider-next">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1084.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;" points="1103.74173 459.836185 1103.74173 457.759231 1084.65143 447.595416 1084.65143 450.070085 1101.17868 458.775613 1101.17868 458.863994 1084.65143 467.525332 1084.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>