<section class="home-main">
    <div class="slider white js-home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide middle-slide">
                <div style="background-image: url('source/images/content/home/img-1.jpg')" class='slide'></div>
            </div>
            <div class="swiper-slide">
                <div style="background-image: url('source/images/content/home/img-2.jpg')" class='slide'></div>
            </div>
            <div class="swiper-slide">
                <div style="background-image: url('source/images/content/home/img-3.jpg')" class='slide'></div>
            </div>
        </div>
        <div class="links-for-slider js-slider-btns">
            <a href="entertain.html" class="active white js-change-page">ENTERTAIN</a>
            <a href="escape.html" class="js-change-page">escape</a>
            <a href="everyday.html" class="js-change-page">everyday</a>
        </div>
    </div>
    <div class="home-mobile">
        <div class="home-mobile_i js-mobile-home active">
            <div class="mobile-img-main" style="background-image: url('source/images/content/home/img-3.jpg')"></div>
            {{!--<img src="source/images/content/home/home3.jpg" alt="">--}}
            <a href="everyday.html" class="js-change-page">everyday ></a>
        </div>
        <div class="home-mobile_i js-mobile-home">
            <div class="mobile-img-main" style="background-image: url('source/images/content/home/img-1.jpg')"></div>
            {{!--<img src="source/images/content/home/home1.jpg" alt="">--}}
            <a href="entertain.html" class="js-change-page">ENTERTAIN ></a>
        </div>
        <div class="home-mobile_i js-mobile-home">
            <div class="mobile-img-main" style="background-image: url('source/images/content/home/img-2.jpg')"></div>
            {{!--<img src="source/images/content/home/home2.jpg" alt="">--}}
            <a href="escape.html" class="js-change-page"> escape></a>
        </div>
    </div>
</section>