<div class="inner-page_wrapp next-ajax">
    <div class="inner-row first">
            <div class="text js-inner-annimete" data-trans="0">
                <h3>entertain at home</h3>
                <p>A unique collection of tableware,<br/> glassware and soft furnishings authentically created and handmade by the finest<br/> artisans working in Morocco today.</p>
                <div class="img">
                    <img src="source/images/content/inner-page/entertain/entertain1.jpg" alt="">
                    <span class= "top-left white">Cushions from $110</span>
                </div>
            </div>
            <div class="img-one js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/entertain/entertain2.jpg" alt="">
                <span class= " top-right white"> Salad Bowl, $150 </span>
            </div>
            <div class="img-two js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/entertain/entertain3.jpg" alt=""> 
                <span class=""></span>
            </div>
    </div>
    <div class="inner-row second">
            <div class="text js-inner-annimete entertain" data-trans="-24">
                <div class="title">
                    <h4>“MOROCCANS ARE FAMOUS FOR THEIR HOSPITALITY AND SERVING GREEN TEA WITH MINT SETS<br/> THE TONE FOR A SOPHISTICATED EVENING WITH FRIENDS.”</h4>
                </div>
                <div class="img">
                    <img src="source/images/content/inner-page/entertain/entertain4.jpg" alt="">
                    <span class=""></span>
                </div>
            </div>
            <div class="img-one js-inner-annimete entertain" data-trans="0">
                <img src="source/images/content/inner-page/entertain/entertain5.jpg" alt="">
                <span class=""></span>
            </div>
            <div class="img-two js-inner-annimete " data-trans=-64>
                <img src="source/images/content/inner-page/entertain/entertain6.jpg" alt="">
                <span class="top-right black">Tea Glasses from $9</span>
            </div>
    </div>
    
</div>