<div class="inner-page_wrapp next-ajax">
    <div class="inner-row first">
            <div class="text js-inner-annimete" data-trans="0">
                <h3>ESCAPE TO PARADISE</h3>
                <p>An exquisitely crafted and designed collection of apparel, accessories and luggage for those seeking the allure<br/> of the exotic.</p>
                <div class="img">
                    <img src="source/images/content/inner-page/escape/escape1.jpg" alt="">
                    <span class= " top-left white">Classic Weekend Bag, $695</span>
                </div>
            </div>
            <div class="img-one js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/escape/escape2.jpg" alt="">
                <span class= "bottom-left white"> Silk Kaftan, $750 </span>
            </div>
            <div class="img-two js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/escape/escape3.jpg" alt=""> 
                <span class="top-right black">Embroidered Babouches, $65</span>
            </div>
    </div>
    <div class="inner-row second">
            <div class="text js-inner-annimete escape" data-trans="-24">
                <div class="title">
                    <h4>“FROM LUXURIOUS KAFTANS TO WEEKEND BAGS, EACH PIECE PROMISES AN ATTENTION TO<br/> DETAIL AND FINISHING THAT ARE SECOND TO NONE.”</h4>
                </div>
                <div class="img">
                    <img src="source/images/content/inner-page/escape/escape4.jpg" alt="">
                    <span class=""></span>
                </div>
            </div>
            <div class="img-one js-inner-annimete escape" data-trans="0">
                <img src="source/images/content/inner-page/escape/escape5.jpg" alt="">
                <span class=""></span>
            </div>
            <div class="img-two js-inner-annimete " data-trans=-64>
                <img src="source/images/content/inner-page/escape/escape6.jpg" alt="">
                <span class="top-left white">Silk Kaftan, $750</span>
            </div>
    </div>  
    
</div>