<div class="inner-page_wrapp next-ajax">
    <div class="inner-row first">
            <div class="text js-inner-annimete" data-trans="0">
                <h3>EVERYDAY LIFE</h3>
                <p>Beautifully embroidered coats, stylish<br/> tunic tops and timeless accessories<br/> comprise Tighemi’s ‘everyday’ collection that is anything but everyday.</p>
                <div class="img">
                    <img src="source/images/content/inner-page/everyday/everyday1.jpg" alt="">
                    <span class= "top-left black"> Taupe Leather<br/> Tunic Top, $575</span>
                </div>
            </div>
            <div class="img-one js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/everyday/everyday2.jpg" alt="">
                <span class= "top-left white"> Bordeaux Embroidered Velvet Tunic Coat<br/> with Ivory Silk Lining, $850 </span>
            </div>
            <div class="img-two js-inner-annimete" data-trans="0">
                <img src="source/images/content/inner-page/everyday/everyday3.jpg" alt=""> 
                <span class="top-left black">Black Pony Handbag, $875</span>
            </div>
    </div>
    <div class="inner-row second">
            <div class="text js-inner-annimete everyday" data-trans="-24">
                <div class="title">
                    <h4>“DESIGNED FOR THE WOMAN<br/> WHO LIKES TO TAKE A LITTLE<br/> PIECE OF THE EXOTIC<br/> WHEREVER SHE GOES.”</h4>
                </div>
                <div class="img">
                    <img src="source/images/content/inner-page/everyday/everyday4.jpg" alt="">
                    <span class=""></span>
                </div>
            </div>
            <div class="img-one js-inner-annimete everyday" data-trans="0">
                <img src="source/images/content/inner-page/everyday/everyday5.jpg" alt="">
                <span class="top-left white">Tote Bag, $575</span>
            </div>
            <div class="img-two js-inner-annimete " data-trans=-64>
                <img src="source/images/content/inner-page/everyday/everyday6.jpg" alt="">
                <span class="top-left white">Ivory Moroccan Cashmere Tunic Coat, $750<br/> Ivory Moroccan Cashmere Cape, $550</span>
            </div>
    </div>
</div>