<div class="two-slider slider-page-wrapp">
    <div class="wrapp-wrapp">
        <div class="two-img_wrapp">
            <div class="two-slider_wrapp js-two-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" data-text="Classic Weekend Bag, $695. Available in matte black, tobacco, chocolate, midnight blue, gray, and violet. Also available in pony hair, $1,100 (black and midnight blue), and black woven leather, $1,150">
                        
                        <img src="source/images/content/luggage/img-16.jpg" class="img-block swiper-lazy">
                    </div>
                    <div class="swiper-slide" data-text="Black Velvet Tunic Coat with Orange Silk Lining, $850</br> (also available in aubergine);</br>Black Pony Handbag, $875</br>(also available in midnight blue)">
                        
                        <img src="source/images/content/luggage/img-15.jpg" class="img-block swiper-lazy">
                    </div>
                    <div class="swiper-slide empty" data-text="">
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/luggage/img-20.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    <div class="swiper-slide empty" data-text="Tote Bag, $575.</br>Available in matte black, tobacco, chocolate, gray, and violet">
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/luggage/img-11.jpg">
                        
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    <div class="swiper-slide empty" data-text="Black Pony Handbag, $875</br>(also available in midnight blue)">
                        
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/luggage/img-13.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                    <div class="swiper-slide empty" data-text="">
                       
                        <img src="" class="img-block swiper-lazy" data-src="source/images/content/luggage/img-18.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-text">
            <p>
                <span></span>
            </p>
            <p>
                <span></span>
            </p>
        </div>
        <a href="#" class="btn-slider-prev">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-47.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;-copy" transform="translate(57.196578, 458.797708) scale(-1, 1) translate(-57.196578, -458.797708) " points="66.741726 459.836185 66.741726 457.759231 47.65143 447.595416 47.65143 450.070085 64.178677 458.775613 64.178677 458.863994 47.65143 467.525332 47.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
        <a href="#" class="btn-slider-next">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1084.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;" points="1103.74173 459.836185 1103.74173 457.759231 1084.65143 447.595416 1084.65143 450.070085 1101.17868 458.775613 1101.17868 458.863994 1084.65143 467.525332 1084.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>