.about-main-wrapp_mobiel{
    @include mq(mb){
        padding: 80px 0 0 0;
        height: 100%;
        box-sizing: border-box;
    }
}
.about-main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 0% 0%;
    background-image: url('%=static=%images/content/about/about.jpg');
    @include mq(mb){
        padding: 0px 0 0 0;
        background-position: 50% 50%;
        background-size: cover;
        background-image: url('%=static=%images/content/about/about-mobile.jpg');
    }
    // background: url('/source/images/content/about/about.png') no-repeat;
    img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        @include mq(mb){
            top: 90px;
            bottom: 0;
            width: auto;
            height: 100%;

        }
        // height: 100%;
        // max-height: 100%;
    }
    .text{
        position: absolute;
        top: 116px;
        right: 44px;
        width: 36vw;
        opacity: 0.001;
        @include trans3d(0, 50px);
        @include mq(mb){
            width: 100%;
            position: relative;
            height: 100%;
            overflow: scroll;
            top: inherit;
            right: inherit;
            box-sizing: border-box;
            padding: 60px 31px 0 31px;
        }
        p{
            padding: 0 0 23px 0;
            font-family: $garatlitalic;
            font-size: 1.2vw;
            line-height: 1.6em;
            @include mq(mb){
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.11px;
            }
            br{
                @include mq(mb){
                    display: none;
                }
            }
        }
        h2{
            padding: 20px 0 3px 0;
            font-family: $josefinregular;
            font-size: 2vw;
            line-height: 1.6em;
            font-weight: normal;
            @include mq(mb){
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0;
            }
        }
    }
}