
.contact-main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mq(mb){
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .form-wrapp{
        opacity: 0.001;
        @include trans3d(0, 50px);
    }
    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        z-index: 2;
        @include trans3d(-50%, -55%); 
        @include mq(mb){
            left: 30px;
            right: 30px;
            top: 130px;
            @include trans3d(0,0);
        }
    }
    p{
        font-size: 17px;
        font-family: $garatlitalic;
        line-height: 20px;
        // font-style: italic;
        padding: 0 0 26px 0;
        @include color('black', 'color');
    }
    h3{
        font-family: $josefinlight;
        font-size: 18px;
        line-height: 32px;
        font-weight: normal;
        width: 450px;
        text-transform: uppercase;
        padding:  0 0 50px 0;
        @include color('black', 'color');
        @include mq(mb){
            width: auto;
        }
        &.contact-thenks-messege{
            position: absolute;
            width: 250px;
            display: block;
            padding: 0 0 0 0;
            bottom: 80px;
            left: 50%;
            opacity: 0;
            z-index: 0;
            @include trans3d(-50%, 0);
        }
    }
    .input{
        width: 397px;
        margin: 0 auto;
        padding: 0 0 40px 0;
        position: relative;
        z-index: 2;
        @include mq(mb){
            width: 100%;
        }
        input{
            display: block;
            width: 100%;
            height: 33px;
            outline: none;
            line-height: 33px;
            box-sizing: border-box;
            padding: 0 28px;
            font-size: 16px;
            font-style: italic;
            border: 1px solid transparent;
            @include color('thunder', 'color');
            @include color('mercury', 'background');
            @include color('transparent', 'border-color');
            @include mq(mb){
                text-align: center;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                @include color('thunder', color);
                font-style: italic;
                font-size: 16px;
                letter-spacing: 0.94px;
                @include mq(mb){
                    text-align: center;
                }
            }
            &::-moz-placeholder { /* Firefox 19+ */
                @include color('thunder', color);
                font-style: italic;
                font-size: 16px;
                letter-spacing: 0.94px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                @include color('thunder', color);
                font-style: italic;
                font-size: 16px;
                letter-spacing: 0.94px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                @include color('thunder', color);
                font-style: italic;
                font-size: 16px;
                letter-spacing: 0.94px;
            }
            &.error{
                @include color('red', 'border-color');
            }
        }
    }
}
.sent-mail{
    display: block;
    width: 120px;
    height: 51px;
    margin: 0 auto; 
    box-sizing: border-box;
    line-height: 51px;
    font-family: $josefinregular;
    font-size: 16px;
    letter-spacing: 0.94px;
    text-transform: uppercase;
    border: 1px solid;
    transition: background 0.4s ease 0s, border-color 0.4s ease 0s;
    opacity: 1;
    @include color('thunder', 'color');
    @include color('silver', 'border-color'); 
    @include color('white', 'background');
    &:hover{
        @include color('mercury', 'background');
        border-color: transparent;
    }
}
.contact-svg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 42%;
    overflow: hidden;
    transform: transform(0, 300px);
    z-index: 1;
    @include mq(mb){
        left: 50%;
        right: inherit;
        width: 200%;
        height: 35%;
        @include trans3d(-50%,0);
    }
    svg{
        position: absolute;
        left: 50%;
        bottom: -780px;
        // width: 100%;
        transform: rotate(180deg) scale(0.75);
        margin-left: -1000px;
        @include mq(mb){
            bottom: -820px;
        }
        path{
            opacity: 0;
        }
    }
    
}