.home-main{
    @include mq(tab-new){
        width: 100%;
        overflow: hidden;
    }
    @include mq(mb){
        padding: 80px 0 0 0;
        box-sizing: border-box;
    }
    .slider{
        position: relative;
        @include mq(mb){
            opacity: 0;
            position: absolute;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .slide{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 0% 0%;
        @include mq(tab-new){
            background-position: 100% 100%;
        }
    }
    .middle-slide{
        height: 100%;
        position: relative;
        .slide{
            background-position: 50% 0%;
            // position: absolute;
            // top: 0;
            // left: 50%;
            // min-width: 1900px;
            // @include trans3d(-50%,0);

        }
    }
}
.links-for-slider{
    position: absolute;
    bottom: 140px;
    left: 96px;
    z-index: 2;
    width: 23.5vw;
    @include mq(tab-new){
        bottom: 88px;
        left: 81px;
        width: 300px;
    }
    a{
        font-family: $josefinlight;
        font-size: 3.3vw;
        line-height: 1.4em;
        letter-spacing: 0.8px;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        transition: color 0.4s ease 0s;
        @include color('aluminium', 'color');
        &:after{
            content: '>';
            display: block;
            position: absolute;
            top: 50%;
            right: -40px;
            opacity: 0.001;
            transition: all 0.7s ease 0s;
            @include trans3d(-70%, -55%);
        }
        &:hover{
            @include color('white', 'color');
            &:after{
                opacity: 1;
                @include trans3d(5%, -55%);
            }
        }
        &.active{
            @include color('white', 'color');
            &:after{
                opacity: 1;
                @include trans3d(5%,-55%);
            }
        }
        @include mq(tab-new){
            font-size: 42px;
            line-height: 48px;
        }
    }
}
.home-mobile{
    opacity: 0;
    height: calc(100% - 84px);
    position: absolute;
    display: block;
    @include mq(mb){
        display: block;
        opacity: 1;
        position: relative;
    }
    .home-mobile_i{
        position: relative;
        overflow: hidden;
        height: 15%;
        width: 100%;
        transition: height 1s ease 0s;
        margin-bottom: 2px;
        &:last-child{
            margin-bottom: 0;
        }
        &.active{
            height: 70%; 
            .mobile-img-main{
                @include trans3d(0, 0px);
            }
        }
        .mobile-img-main{
            min-width: 320px;
            width: 100%;
            // min-height: 500px;
            position: absolute;
            right: 0;
            background-size: cover;
            transition: transform 1s ease 0s;
            background-position: 50% 100%;
            @include trans3d(0, -30px);
        }
        a{
            display: block;
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-family: $josefinlight;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;
            @include color('white', 'color');
        }
    }
}