.inner-page_wrapp{
    padding: 133px 85px 25px 85px;
    position: relative;
    @include cf();
    @include mq(tab-new){
        padding: 133px 45px 25px 45px; 
    }
    @include mq(mb){
        padding: 86px 15px 24px 15px;
    }
}
.inner-row{
    h3{
        font-family: $josefinlight;
        font-weight: normal;
        font-size: 4.4vw;
        line-height: 1em;
        letter-spacing: -0.5px;
        padding: 0 0 27px 0;
        text-transform: uppercase;
        @include color('black', 'color');
        @include mq(mb){
            font-size: 20px;
            line-height: 22px;
            padding: 0 0 10px 0;
        }
    }
    p{
        font-family: $garatlitalic;
        font-size: 1.4vw;
        line-height: 1.5em;
        letter-spacing: 0.4px;
        padding: 0 0px 43px 0;
        width: calc(100% + 6px);
        @include color('black', 'color');
        @include mq(tab-new){
            width: 100%;
        }
        @include mq(mb){
            width: 100%;
            font-size: 8px;
            line-height: 10px;
            letter-spacing: 0.26px;
            padding: 0 15px 15px 0;
        }
        br{
            @include mq(tab-new){
                display: none;
            }
            @include mq(mb){
                display: none;
            }
        }
    }
    span{
        position: absolute;
        font-family: $garatlitalic;
        font-size: 12px;
        line-height: 14px;
        white-space: normal;
        @include mq(mb){
            font-size: 10px;
            line-height: 12px;
            width: 60px;
            white-space: normal;
        }
        &.white{
            @include color('white', 'color');
        }
        &.black{
            @include color('black', 'color');
        }
        &.top-left{
            top: 10px;
            left: 10px;
        }
        &.top-right{
            top: 10px;
            right: 10px;
        }
        &.bottom-left{
            bottom: 10px;
            left: 10px;
        }
        &.bottom-right{
            bottom: 10px;
            right: 10px;
        }
        
    }
    h4{
        font-family: $josefinlight;
        font-size: 2.6vw;
        line-height: 1.2em;
        letter-spacing: -2px;
        font-weight: normal;
        width: 132%;
        @include mq(tab-new){
            width: 100%;
        }
        @include mq(mb){
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.03px;
        }
        br{
            @include mq(tab-new){
                display: none;
            }
            @include mq(mb){
                display: none;
            }
        }
    }
    .img{
        position: relative;
        p{
            position: absolute;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.05px;
        }
    }
    img{
        display: block;
        width: 100%;
        transform: scale(1);
        transition: transform 0.3s ease 0s;
        @include trans3d(0,0);
        
        @include mq(tab-new){
            &:hover{
                transform: scale(1);
            }
        }
        @include mq(mb){
            &:hover{
                transform: scale(1);
            }
        }
    }
    &.first{
        z-index: 2;
        position: relative;
        .text{
            float: left;
            width: 27vw;
            padding: 70px 0 0 0;
            @include color('white', 'background');
            @include mq(mb){
                width: 45%;
                padding: 31px 0 0 0;
            }
            img{
                width: 90%;
                @include mq(mb){
                    display: inline-block;
                }
            }
        }
        .img-one{
            width: 40.6%;
            float: left;
            padding-left: 20px;
            @include mq(mb){
                width: 55%;
                padding: 0 0 0 0%;
            }
            span{
                // left: 40px;
            }
            .top-left{
                left: 40px;
                @include mq(tab-new){
                    width: 100px
                }
                @include mq(mb){
                    left: 10px;
                    width: 60px;
                }
                br{
                    display:inline-block;
                }
            }
            .bottom-left{
                left: 40px;
                @include mq(mb){
                    left: 10px;
                }
            }
            .top-right{
                @include mq(mb){
                    text-align: right;
                }
            }
        }
        .img-two{
            width: 24.4%;
            float: right;
            padding-top: 20%;
            margin-right: -14px;
            @include mq(mb){
                margin: 0;
                width: 31%;
                float: right;
                padding: 15px 23% 0 1%;
            }
            .top-right{
                top: 38%;
                @include mq(mb){
                    top: 12%;
                    right: 42%;
                }
            }
            .top-left{
                top: 38%;
                @include mq(mb){
                    top: 13%;
                    left: 10px;
                }
            }
        }
    }
    &.second{ 
        .text{
            float: right;
            width: 55vw;
            position: relative;
            z-index: 4;
            @include trans3d(-24px, -24px);
            @include cf();
            @include mq(mb){
                width: 90%;
            }
            .title{
                float: right;
                width: 63.6%;
                padding: 0px 0 0 20px;
                position: relative;
                top: 0px;
                box-sizing: border-box;
                @include mq(mb){
                    width: 60%;
                }
                @include mq(mb){
                    padding: 0px 0 0 20px;
                    
                }
            }
            h4{
                display: block;
                width: 110%;
                position: absolute;
                top: 50%;
                left: 20px;
                margin-top: -10px; 
                padding: 0px 0 0 0;
                @include trans3d(0,-50%);
                @include mq(tablet){
                    width: 100%;
                }
                @include mq(mb){
                    width: 100%;
                    margin-top: 0;
                    padding: 0px 0 0 0;
                }
            }
            .img{
                width: 36.4%;
                float: left;
                @include mq(mb){
                    width: 37%;
                    @include trans3d(14px, -41px);
                }
                img{
                    width: 100%;
                    display: block;
                }
            }
            &.entertain{
                h4{
                    @media screen and (min-width: 1700px){
                        width: 112%; 
                    }
                    br{
                       @media screen and (min-width: 1700px){
                        //    display: none;
                       } 
                    }
                }
            }
            &.everyday{
                h4{
                    // padding: 12% 0 0 0;
                    @media screen and (min-width: 1700px){
                        width: 112%; 
                    }
                    @include mq(mb){
                        // padding: 10px 0 0 0;
                    }
                    br{
                       @media screen and (min-width: 1700px){
                           display: none;
                       } 
                    }
                }
            }
            &.escape{
                h4{
                    // padding: 4% 0 0 0;
                    @media screen and (min-width: 1700px){
                        width: 112%; 
                        // padding: 5% 0 0 0;
                    }
                    @include mq(mb){
                        padding: 0 0 10px 0;
                    }
                    br{
                       @media screen and (min-width: 1700px){
                           display: none;
                       } 
                    }
                }
            }
        }
        .img-one{
            width: 27.5vw;
            float:left;
            clear: both;
            padding: 0px 0 0 16%;
            position: absolute;
            bottom: 89px;
            @include mq(mb){
                width: 35%;
                padding: 0 5% 0 0;
                top: -26.5px;
                position: relative;
                float: left;
            }
            span{
                // right: 53%;
            }
            .top-left{
                left: 38%;
                @include mq(mb){
                    left:8%;
                }
            }
            .bottom-left{
                left: 36%;
            }
        }
        .img-two{
            float: right;
            width: 33vw;
            padding: 0 0 0 20%;
            @include trans3d(-36px, -48px);
            @include mq(mb){
                padding: 0;
                width: 60%;
                @include trans3d(0, -30px);
            }
            .top-left{
                left: 36%;
                @include mq(mb){
                    left: 6%;
                }
                white-space: normal;
                width: 150px;
                @include mq(tab-new){
                    width: 100px;
                }
                @include mq(mb){
                    width:60px;
                }
            }
            .top-right{
                @include mq(mb){
                    text-align: right;
                }
            }
        }
    }
    .text, .img-one, .img-two{
        opacity: 0.001;
        transform: translateY(50px);
    }
}
.inner-nav{
    position: fixed;
    bottom: 84px;
    left: 85px;
    height: 98px;
    width: 106px;
    overflow: hidden;
    z-index: 4;
    @include mq(tab-new){
        left: 45px;
        bottom: 84px;
        height: 94px;
        
    }
    @include mq(mb){
        position: absolute;
        display: block;
        left: 14px;
        bottom: 20px;
        height: 67px;
    }
    .inner-nav-wrapp{
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        height: auto;
        @include mq(tab-new){
            height: 94px;
        }
        @include mq(mobile){
            height: auto;
        }
    }
    a{
        display: block;
        font-family: $josefinlight;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        transition: color 0.4s ease 0s;
        padding: 0 0 15px 0;
        @include color('aluminium', 'color');
        &:last-child{
            padding: 0;
        }
        &:hover{
            @include color('black', 'color');
        }
        &.active{
            @include color('black', 'color');
        }
        @include mq(tab-new){
            padding: 0 0 10px 0;
        }
        @include mq(mb){
            font-size: 16px;
            line-height: 19px;
            padding: 0 0 5px 0;
        }
    }
}
.ajax-wrapp{
    position: relative;
    overflow: hidden;
}
.next-ajax{
     @include trans3d(100%, 0);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    .text{
        opacity: 1;
        @include trans3d(0,0);
    }
    .img-one{
        opacity: 1;
    }
    .img-two{
        opacity: 1;
    }
    .inner-row{
        .second{
            .text{
                @include trans3d(0,0);
            }
        }
    } 
}
