.two-slider{
    padding:  131px 79px 105px 79px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    @include mq(tab-new){
        width: 100%;
        padding: 131px 79px 65px 79px;
    }
    @include mq(mb){
        padding: 86px 0 99px 0;
        overflow: hidden;
        width: 100%;
        @include cf();
    }
    .two-img_wrapp{
        position: relative;
        overflow: hidden;
        @include mq(tab-new){
            height: 100%;
        }
    }
    .two-slider_wrapp{
        overflow: visible;
        width: 100%;
        @include mq(tab-new){
            width: 100%;
            min-height: 100%;
        }
         @include mq(mb){
             overflow: visible;
             width: 85%;
             float: right;  
         }
     }
    .swiper-wrapper{ 
        height: 100%;
        transition-timing-function: linear;
        @include mq(tab-new){
            height: auto;
        }
    }
    .slide-text{
        display: block;
        position: absolute;
        bottom: -100px;
        right: 0px;
        height: 84px;
        font-family: $garatlitalic;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05px;
        text-align: right;
        width: 47%;

        @include mq(tab-new){
            bottom: -100px;
        }
        @include mq(mb){
            width: auto;
            bottom: 0px;
            font-size: 17px;
            line-height: 20px;
            left: 70px;
            right: 70px;
            height: 85px;
            text-align: center;
            font-size: 10px;
            line-height: 14px;
        }
        p{
            padding: 0 0 10px 0;
            &:nth-child(2){
                padding: 0;
                @include mq(tab-new){
                    display: none;
                }
            }
            @include mq(mb){
                display: block;
                position: absolute;
                width: 100%;
                left: 50%;
                top: 50%;
                @include trans3d(-50%, -50%);
            }
        }
    }
    .img-block{
        width: calc(100% + 1px);
        height: 100%;
        display: block;
        z-index:11;
        background-size: cover;
        background-position: 50% 50%;
        @include mq(mb){
            padding: 0;
            position: absolute;
            top: 50%;
            transform-origin: 100% 0%; 
            transition: transform 0.4s ease 0s;
            @include trans3d(0, -50%);
        } 
    }
    .swiper-slide{
        height: 100%;
        width: 50%;
        @include cf();
        @include mq(tab-new){
            height: auto;
            width: 100%;
            overflow: hidden;
        }
        @include mq(mb){
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &.big-slide{
            width: 100% ;
            .img-block{
                background-position: 50% 0;
                @include mq(tabP){
                    width:auto;
                //    top: 50%;
                   left: 50%;
                   transform: scale(1) translate3d(-50%, 0%, 0);
                }
                @include mq(mbP){
                    width:auto;
                    top: 50%;
                    left: 50%;
                    transition: transform .6s ease 0s;
                    transform: scale(1) translate3d(-50%, -50%, 0);
                }
            }
        }
        img{
            display: block;
            width: 100%;
           
            @include mq(mb){
                padding: 0;
                position: absolute;
                top: 50%;
                transform-origin: 100% 0%; 
                transition: transform 0.4s ease 0s;
                @include trans3d(0, -50%);
            }
        }
    }
    .btn-slider-prev, .btn-slider-next{
        display: block;
        position: absolute;
        top: 50%;
        @include trans3d(0,-50%);
        @include mq(mb){
            top: inherit;
            bottom: 30px;
            @include trans3d(0, 0%);
        }
    }
    .btn-slider-prev{
        left: -50px;
        @include mq(mb){
            left: 15px;
        }
    }
    .btn-slider-next{
        right: -50px;
        @include mq(mb){
            right: 15px;
        }
    }
    .swiper-slide-prev, .swiper-slide-next{
        .img-block{
            @include mq(mb){
                transform: scale(0.7) translate3d(0, -50%, 0);
                transform-origin: 100% 0%; 
                right: 0;
            }
        }
        &.big-slide{
            .img-block{
                background-position: 50% 0;
                @include mq(tabP){
                    // transform: scale(0.7) translate3d(-100%, -50%, 0);
                }
                @include mq(mbP){
                    transform: scale(0.7) translate3d(-100%, -50%, 0);
                }
            }
        }
    }
}
.two-slider_wrapp, .one-slider_wrapp{
    position: relative;
    overflow: hidden;
}
