<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{head.title}}</title>
    <meta property="og:title" content="TIGHEMI">
    <meta name="description" content="the allure of the exotic">
    <meta property="og:image" content="http://tighemi.com/test/source/images/content/home/sharing.png">
    <meta property="og:description" content="the allure of the exotic">
    <meta property="og:url" content="http://tighemi.com/test/index.html" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    {{!--<link rel="icon" type="image/ico" sizes="48x48" href="/favicon.ico">--}}
    {{!--<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />--}}
    <link rel="icon" type="image/png" href="favicon.png" sizes="96x96">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#ffffff">
    {{!--<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/c4510ab3-0687-4668-ba0e-e77a077d5918.css"/>--}}
    <link href="%=static=%css/main{{hash}}.css" rel="stylesheet" type="text/css">

</head>
