
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 20px 0 0 96px;
    box-sizing: border-box;
    z-index: 11;
    @include mq(mb){
        padding: 10px 0 0 0;
    }
    &.fixed{
        position: fixed;
        height: 70px;
        padding: 0 0 0 96px;
        background: rgba(255,255,255,0.85);
        @include trans3d(0,-70px);
        .nav{
            top: 30px;
        }
        .logo{
            top: 0px;
        }
        .socials{
            top: 25px;
        }
    }
    .two-slider-page &{
        padding: 25px 0 0 98px;
    }
    nav{
        padding-top: 25px; 
        @include mq(tab-new){
            display: none;
        }    
        @include mq(mb){
            display: none;
        }
    }
    li{
        list-style: none;
        display: inline-block;
        padding: 0 12px 0 0;
        position: relative;
        & > a{
            opacity: 0.001;
            @include trans3d(0, -40px);
        }
    }
    a{
        display: inline-block;
        font-family: $josefinregular;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0;
        transition: color 0.4s ease 0s;
        @include color('black', 'color');
        &:hover{
            @include color('aluminium', 'color');   
        }
        &.active{
           @include color('black', 'color'); 
        }
        .home-page &{
            @include color('white', 'color');
            &:hover{
                @include color('black', 'color');  
            }
            &.active{
                @include color('black', 'color'); 
            }
        } 
    }
    .burger-menu{
        display: none;
        @include mq(tab-new){
            display: block;
        }
        @include mq(mb){
            display: block;
        }
    }
    .second-mennu{
        position: absolute;
        top: 15px;
        left: 10px;
        right: 10px;
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.4s ease 0s;
        padding: 5px 0 0 0;
        li{
            display: block;
            padding: 0;
        }
        a{
            display: block;
            font-size: 10px;
            line-height: 20px;
            padding: 0 0 0px 0;
            opacity: 0.001;
            transition: color 0.4s ease 0s;
            @include trans3d(0,-10px);
            @include color('aluminium', 'color');
            &.active{
                @include color('black', 'color');
            } 
            &:hover{
                @include color('black', 'color');
            }
        }
    }
    .logo{
        display: block;
        // width: 68px;
        // height: 64px;
        width: 72px;
        height: 69px;
        position: absolute;
        left: calc(50% + 1px);
        top: 24px;
        overflow: hidden;
        @include trans3d(-50%, 0);
        @include mq(mb){
            width: 56px;
            height: 52px;
            top: 14px;
            left: calc(50% + 2px);
        }
        &:hover{
            .segment-top{
                transform: translate(0, -2px);
            }
            .segment-right{
                transform: translate(2px, 0);
            }
            .segment-bottom{
                transform: translate(0, 2px);
            }
            .segment-left{
                transform: translate(-2px, 0);
            }
        }
        svg{
            width: 400px;
            height: 204px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            @include trans3d(-50%,-50%);
            @include mq(mb){
                width: 330px;
            }
            path{
                opacity: 1;
                transition: transform 0.4s ease 0s;
            }
            g{
                opacity: 1;
                transition: none;
                transition: transform 0.4s ease 0s;
            }
        }
    }
    .socials{
        position: absolute;
        top: 44px; 
        right: 95px;
        @include trans3d(0, -30px);
        opacity: 0;
        display: none;
        @include mq(tab-new){
            display: none;
        }
        @include mq(mb){
            display: none;
        }
        a{
            display: inline-block;
            opacity: 1;
            transition: opacity 0.4s ease 0s;
            &:first-child{
                margin-right: 20px;
            }
            &:hover{
                opacity: 0.6;
            }
        }
    }
}
.colaction{
    position: relative;
    &.active{
        & > a{
            @include color('black', 'color');     
        }
        .second-mennu{
            pointer-events: auto;
        }
    }
}

.burger-menu{
    position: absolute;
    top: 36px;
    left: 42px;
    width: 22px;
    height: 16px;
    display: none;
    z-index: 4;
    @include mq(tab-new){
        display: block;
    }
    @include mq(mb){
        display: block;
        left: 21px;
        top: 32px;
    }
    &:after,&:before{
        content: '';
        display: block;
        position: absolute;
        width: 22px;
        height: 2px;
        background: #000;
        transition: transform 0.4s ease 0s; 
    }
    &:before{
        top: 4px;
        left: 0px;
    }
    &:after{
        top: 10px;
        left: 0px;
    }
    .fixed &{
        @include mq(mb){
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    .menu-open &{
        &:before{
            top: 8px;
            transform: rotate(45deg);
        }
        &:after{
            top: 8px;
            transform: rotate(-45deg);
        }
    }
}
.mobile-menu_wrapp{
    width:100%;
    
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    overflow: scroll;
    padding: 0px 0 0 40px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.4s ease 0s;
    @include trans3d(-100%,0);
    @include color('white', 'background');
    @include mq(tab-new){
        display: block;
    }
    @include mq(mb){
        display: block;
    }
    .menu-open &{
        opacity: 1;
        @include trans3d(0,0);
    }
    nav{
        padding: 132px 0 0 0;
        position: relative;
        overflow: scroll;
        height: 568px;
        box-sizing: border-box;

    }
    li{
        padding: 0 0 45px 0;
        a{
            font-family: $josefinregular;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.11px;
            text-transform: uppercase;
            @include color('scorpion', 'color');
        }
        .second-mennu{
            padding: 24px 0 0 0;
            li{
                padding: 0 0 35px 22px;
                &:last-child{
                    padding: 0 0 0 22px;
                }
            }
            a{
                font-size: 19px;
                line-height: 22px;
                letter-spacing: 0.19px;
            }
        }
    }
    .socials{
        display: none;
        a{
            margin: 0 18px 0 0;
            opacity: 1;
            transition: opacity 0.4s ease 0s;
            &:hover{
                opacity: 0.5
            }
        }
    }
}