.white-pattern{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 50;
    .home-page &{
        opacity: 1;
        z-index: 23;
    }
}
.preloader{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 22;
    overflow: hidden;
    transform: translate3d(0,0,0);
    // transition: background-color 0.4s ease 0;
    // &:before{
    //     z-index: -1;
    //     opacity: 0.0001;
    //     transition: opacity .4s ease 0s;
    //     background: #fff;

    // }
}
.artwork{
    position: absolute;
    z-index: 22;
    width: 100%;
    top: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 7s linear 0s;
    transition: transform 7s linear;
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0); 
    -webkit-transform: translate3d(0,0,0); 
    transform: translate3d(0,0,0);

    svg{
        // transform: scale(0.75) translateY(-30px);
        // position: absolute;
        // bottom: 0;
        // left: 50%;
        // transform-origin: 50% 100%; 
        // margin-left: -960px;
    }
    .preload-pattern{
        bottom: 50%;
        // transform: scale(0.75) translate(-30px);
        -ms-transform: translate3d(-30px,-30px,0) scale(0.75);
        -moz-transform: translate3d(-30px,-30px,0) scale(0.75); 
        -webkit-transform: translate3d(-30px,-30px,0) scale(0.75); 
        transform: translate3d(-30px,-30px,0) scale(0.75);
        -webkit-transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        transform-origin: 50% 100%; 
        margin-left: -960px;
        -webkit-backface-visibility: hidden;
        @media (max-width: 767px) {
            bottom:20%;
            width: 1000px;
            margin-left: -500px;
        }
        @media (min-width: 1340px) {
            width: 100%;
            // transform: scale(1) translate(-50%,-30px);
            -ms-transform: translate3d(-50%, 240px,0) scale(1.3);
            -moz-transform: translate3d(-50%, 240px,0) scale(1.3); 
            -webkit-transform: translate3d(-50%, 240px,0) scale(1.3); 
            transform: translate3d(-50%, 240px,0) scale(1.3);
            margin: 0;
        }
    }
    .preload-logo{
        position: absolute;
        left: 50%;
        transform-origin: 50% 100%; 
        // bottom: 45%;
        bottom: 50%;
        margin-left: -199px;
        z-index: 4;
        // margin-bottom: -32px;
        // transform: scale(1) translateY(51px);
        -ms-transform: translate3d(0,51px,0) scale(1);
        -moz-transform: translate3d(0,51px,0) scale(1); 
        -webkit-transform: translate3d(0,51px,0) scale(1); 
        transform: translate3d(0,51px,0) scale(1);
        width: 400px;
        height: 204px;
        @media (max-width: 767px) {
            width: 330px;
            margin-left: -163px;
        }
        
    }
    .preload-text{
        position: absolute;
        left: 50%;
        transform-origin: 50% 100%; 
        opacity: 1;
        bottom: 45%;
        margin-left: -147px;
        margin-bottom: -90;
        // transform: scale(1) translateY(-30px);

        -ms-transform: translate3d(0,-30px,0) scale(1);
        -moz-transform: translate3d(0,-30px,0) scale(1); 
        -webkit-transform: translate3d(0,-30px,0) scale(1); 
        transform: translate3d(0,-30px,0) scale(1);

        -moz-transition: opacity 1s ease 7s, transform 1s ease 7s; 
        -webkit-transition: opacity 1s ease 7s, transform 1s ease 7s; 
        transition: opacity 1s ease 7s, transform 1s ease 7s;
        @media (max-width: 767px) {
            width: 203px;
            margin-left: -101px;
        }
    }
}
.segment {
	opacity: 1;
	-moz-transition: opacity 1.5s; -webkit-transition: opacity 1.5s; transition: opacity 1.5s;
    
}
.segment-center,
.segment-top,
.segment-bottom,
.segment-left,
.segment-right,
.segment-left-top,
.segment-left-bottom,
.segment-right-top,
.segment-right-bottom {
	opacity: 1; -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-backface-visibility: hidden;
}
.segment-center {
	-moz-transition: 2s ease 7s; -webkit-transition: 2s ease 7s; transition: 2s ease 7s;
}
.segment-left,
.segment-right {
	-moz-transition: 2s ease 5s; -webkit-transition: 2s ease 5s; transition: 2s ease 5s;
}
.segment-top,
.segment-bottom {
	-moz-transition: 2s ease 5.5s; -webkit-transition: 2s ease 5.5s; transition: 2s ease 5.5s;
}
.segment-left-top,
.segment-left-bottom,
.segment-right-top,
.segment-right-bottom {
	-moz-transition: 2s ease 6.5s; -webkit-transition: 2s ease 6.5s; transition: 2s ease 6.5s;
}
.type {
	opacity: 1; -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-backface-visibility: hidden;
	-moz-transition: 2s ease-out 5s; -webkit-transition: 2s ease-out 5s; transition: 2s ease-out 5s;
}

/*
 * ----------------------------------------------------------------------------
 */
.loading .segment{
    opacity: 0.01;
}
.loading .symbol,
.loading .type,
.loading .preload-text {
	opacity: 0.01;
    -webkit-backface-visibility: hidden;
}
.loading .artwork {
	-ms-transform: translate3d(0,59em,0); -moz-transform: translate3d(0,59em,0); -webkit-transform: translate3d(0,59em,0); transform: translate3d(0,59em,0);
    transform: translate(0,59em);
    @media (max-width: 767px) {
        transform: translate(0,19em);
    }
}
.loading .type {
	-ms-transform: translate3d(0,-30px,0); -moz-transform: translate3d(0,-30px,0); -webkit-transform: translate3d(0,-30px,0); transform: translate3d(0,-30px,0);
}
.loading .preload-text{
    -ms-transform: translate3d(0,30px,0); -moz-transform: translate3d(0,30px,0); -webkit-transform: translate3d(0,30px,0); transform: translate3d(0,30px,0); -webkit-backface-visibility: hidden
}
.loading .segment-center {
	opacity: 0.001;
}
.loading .segment-top {
	opacity: 0.001; -ms-transform: translate3d(0,-10px,0); -moz-transform: translate3d(0,-10px,0); -webkit-transform: translate3d(0,-10px,0); transform: translate3d(0,-10px,0);
}
.loading .segment-bottom {
	opacity: 0.001; -ms-transform: translate3d(0,10px,0); -moz-transform: translate3d(0,10px,0); -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0);
}
.loading .segment-left {
	opacity: 0.001; -ms-transform: translate3d(-30px,0,0); -moz-transform: translate3d(-30px,0,0); -webkit-transform: translate3d(-30px,0,0); transform: translate3d(-30px,0,0);
}
.loading .segment-right {
	opacity: 0.001; -ms-transform: translate3d(30px,0,0); -moz-transform: translate3d(30px,0,0); -webkit-transform: translate3d(30px,0,0); transform: translate3d(30px,0,0);
}
.loading .segment-left-top {
	opacity: 0.001; -ms-transform: translate3d(-15px,-15px,0); -moz-transform: translate3d(-15px,-15px,0); -webkit-transform: translate3d(-15px,-15px,0); transform: translate3d(-15px,-15px,0);
}
.loading .segment-left-bottom {
	opacity: 0.001; -ms-transform: translate3d(-15px,15px,0); -moz-transform: translate3d(-15px,15px,0); -webkit-transform: translate3d(-15px,15px,0); transform: translate3d(-15px,15px,0);
}
.loading .segment-right-top {
	opacity: 0.001; -ms-transform: translate3d(15px,-15px,0); -moz-transform: translate3d(15px,-15px,0); -webkit-transform: translate3d(15px,-15px,0); transform: translate3d(15px,-15px,0);
}
.loading .segment-right-bottom {
	opacity: 0.001; -ms-transform: translate3d(15px,15px,0); -moz-transform: translate3d(15px,15px,0); -webkit-transform: translate3d(15px,15px,0); transform: translate3d(15px,15px,0);
}
.short-preload{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    .home-preload-logo-short{
        width: 400px;
        path{
            // opacity: 1;

            
        }
        .segment-center-short{
            left: 0;
            opacity: 0;
            transition: 0.7s ease 0s;
            .loading-short &{
                opacity: 1;
            }
        }
    }
    
    .segment-left-short, .segment-right-short, .segment-top-short, .segment-bottom-short{
        transition: 0.7s ease 0s;
        opacity: 0;
        .loading-short &{
            opacity: 1;
            -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
        }

    }
    .segment-left-bottom-short, .segment-right-bottom-short, .segment-left-top-short, .segment-right-top-short{
        transition: 0.7s ease 0s;
        opacity: 0;
        .loading-short &{
            opacity: 1;
            -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
        }
    }

    .segment-left-short{
       
       -ms-transform: translate3d(-30px,0,0); -moz-transform: translate3d(-30px,0,0); -webkit-transform: translate3d(-30px,0,0); transform: translate3d(-30px,0,0);
    }
    .segment-right-short{
        -ms-transform: translate3d(30px,0,0); -moz-transform: translate3d(30px,0,0); -webkit-transform: translate3d(30px,0,0); transform: translate3d(30px,0,0);
    }
    .segment-top-short{
        -ms-transform: translate3d(0,-10px,0); -moz-transform: translate3d(0,-10px,0); -webkit-transform: translate3d(0,-10px,0); transform: translate3d(0,-10px,0);
    }
    .segment-bottom-short{
        -ms-transform: translate3d(0,10px,0); -moz-transform: translate3d(0,10px,0); -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0);
    }
    .segment-right-bottom-short{
        -ms-transform: translate3d(0,10px,0); -moz-transform: translate3d(0,10px,0); -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0);
    }
    .segment-left-bottom-short{
        -ms-transform: translate3d(-15px,15px,0); -moz-transform: translate3d(-15px,15px,0); -webkit-transform: translate3d(-15px,15px,0); transform: translate3d(-15px,15px,0);
    }
    .segment-right-bottom-short{
        -ms-transform: translate3d(15px,15px,0); -moz-transform: translate3d(15px,15px,0); -webkit-transform: translate3d(15px,15px,0); transform: translate3d(15px,15px,0);
    }
    .segment-left-top-short{
        -ms-transform: translate3d(-15px,-15px,0); -moz-transform: translate3d(-15px,-15px,0); -webkit-transform: translate3d(-15px,-15px,0); transform: translate3d(-15px,-15px,0);
    }
    .segment-right-top-short{
        -ms-transform: translate3d(15px,-15px,0); -moz-transform: translate3d(15px,-15px,0); -webkit-transform: translate3d(15px,-15px,0); transform: translate3d(15px,-15px,0);
    }
    .preload-text-short{
        margin: 0 auto;
        display: block;
        position: relative;
        top: -130px;
        opacity: 0;
        transition: 0.7s ease 1s;
        .loading-short &{
            opacity: 1;
        }
    }
    // .loading-short &{
    //    .home-preload-logo-short{
        
    //         path{
    //             opacity: 1;
    //         }
    //         .segment-center{
    //             opacity: 1;
                
    //         }
    //    } 
    //    .preload-text-short{
    //        opacity: 1;
    //    }
    // }
}