<div class="one-slider slider-page-wrapp">
    <div class="wrapp-wrapp">
        <div class="one-slider_wrapp js-one-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-text="Ivory Moroccan Cashmere Tunic Coat, $750;</br> Ivory Moroccan Cashmere Cape, $550 (both available in black, charcoal, and taupe)">
                    <img src="source/images/content/fashion/img-1.jpg" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-1.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Black Silk Kaftan, $750 (also available in paisley and midnight blue)">
                    <img src="source/images/content/fashion/img-3.jpg" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-3.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide big-slide empty" data-text="Black Silk Kaftan, $750 (also available in paisley and midnight blue)">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-2.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/9.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="Paisley Silk Kaftan, $750 (also available in black and midnight blue)">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-5.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="Bordeaux Embroidered Velvet Tunic Coat with Ivory Silk Lining, $850</br> (also available in black and aubergine)">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-6.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="Embroidered Velvet Babouches, $65">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-7.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="Black Velvet Tunic Coat with Orange Silk Lining, $850 (also available in aubergine);</br> Black Leather Tunic Top, $575 (also available in forest green, taupe, and white);</br> Black Pony Handbag, $875 (also available in midnight blue)">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-10.jpg" >
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide empty" data-text="Taupe Leather Tunic Top, $575</br>(also available in black, forest green, and white)">
                    <img src="" class="img-block swiper-lazy" data-src="source/images/content/fashion/img-8.jpg">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                {{!--<div class="swiper-slide" data-text="Moroccan Cashmere Tunic Coat in Ivory, $750;</br>Cape in Ivory, $550 (both available in black)">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-1.jpg')"></div>
                    
                </div>
                <div class="swiper-slide" data-text="Silk Kaftan and Scarf in Black, $750</br> (also available in midnight blue, burnt orange, ivory and print)">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-3.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide big-slide" data-text="Silk Kaftan and Scarf in Black, $750</br> (also available in midnight blue, burnt orange, ivory and print)">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-2.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/9.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Silk Kaftan and Scarf in Print, $750</br> (also available in midnight blue, burnt orange, ivory and black)">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-5.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Embroidered Velvet Tunic Coat in Bordeaux, $850</br> (also available in black and turquoise)">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-6.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Velvet Embroidered Slippers, $65">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-7.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Velvet Tunic Coat in Black, $850 (also available in aubergine and turquoise)</br> Handbag in Black Pony, $725">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-10.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>
                <div class="swiper-slide" data-text="Lamb’s Leather Tunic Top in Taupe, $575</br> (also available in black and white)">
                    <div class="img-block" style="background-image: url('source/images/content/fashion/img-8.jpg')"></div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                </div>--}}
            </div>
        </div>
        <div class="slide-text">
            <p><span></span></p>
            <p><span></span></p>
        </div>
        <a href="#" class="btn-slider-prev">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-47.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;-copy" transform="translate(57.196578, 458.797708) scale(-1, 1) translate(-57.196578, -458.797708) " points="66.741726 459.836185 66.741726 457.759231 47.65143 447.595416 47.65143 450.070085 64.178677 458.775613 64.178677 458.863994 47.65143 467.525332 47.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
        <a href="#" class="btn-slider-next">
            <svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1084.000000, -447.000000)" fill="#A6A9AB">
                        <polygon id="&gt;" points="1103.74173 459.836185 1103.74173 457.759231 1084.65143 447.595416 1084.65143 450.070085 1101.17868 458.775613 1101.17868 458.863994 1084.65143 467.525332 1084.65143 470"></polygon>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>