<div class="about-main-wrapp_mobiel">
    <div class="about-main">
        {{!--<img src="/source/images/content/about/about.jpg" alt="">--}}
        <div class="text js-about-block">
            <p>Founded by Lisa Walsh, Tighemi is a Moroccan-inspired</br> lifestyle brand that offers the allure of the exotic through a</br> collection of exclusive products and experiences.

            </p>
            <p>The inspiration behind the Tighemi brand is rooted in</br> a modern interpretation of Morocco’s rich heritage of</br> craftsmanship and design.</p>
            <p>The word “TIGHEMI” (tig-uh-mee) is Berber for “home”</br> but today the collection has grown to include apparel,</br> accessories and luggage for discerning consumers seeking the</br> allure of the exotic.</p>
        </div>
    </div>
</div>