@import url("//hello.myfonts.net/count/33a0db");

$garatlbold: 'ClassicalGaramondTL-Bold';
$garatlitalic: 'ClassicalGaramondTL-Italic';
$garatltroman: 'ClassicalGaramondTL-Roman';
$garatlboldit: 'ClassicalGaramondTL-BoldIt';
$josefinlight: 'josefin_sanslight';
$josefinregular: 'josefin_sansregular';
  

@font-face {
	font-family: 'ClassicalGaramondTL-Bold';
	src: url('%=static=%fonts/33A0DB_0_0.eot');
	src: url('%=static=%fonts/33A0DB_0_0.eot?#iefix') format('embedded-opentype'),
		 url('%=static=%fonts/33A0DB_0_0.woff2') format('woff2'),
		 url('%=static=%fonts/33A0DB_0_0.woff') format('woff'),
		 url('%=static=%fonts/33A0DB_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'ClassicalGaramondTL-Italic';
	src: url('%=static=%fonts/33A0DB_1_0.eot');
	src: url('%=static=%fonts/33A0DB_1_0.eot?#iefix') format('embedded-opentype'),
		 url('%=static=%fonts/33A0DB_1_0.woff2') format('woff2'),
		 url('%=static=%fonts/33A0DB_1_0.woff') format('woff'),
		 url('%=static=%fonts/33A0DB_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'ClassicalGaramondTL-Roman';
	src: url('%=static=%fonts/33A0DB_2_0.eot');
	src: url('%=static=%fonts/33A0DB_2_0.eot?#iefix') format('embedded-opentype'),
		 url('%=static=%fonts/33A0DB_2_0.woff2') format('woff2'),
		 url('%=static=%fonts/33A0DB_2_0.woff') format('woff'),
		 url('%=static=%fonts/33A0DB_2_0.ttf') format('truetype');
		}
 
  
@font-face {
	font-family: 'ClassicalGaramondTL-BoldIt';
	src: url('%=static=%fonts/33A0DB_3_0.eot');
	src: url('%=static=%fonts/33A0DB_3_0.eot?#iefix') format('embedded-opentype'),
		 url('%=static=%fonts/33A0DB_3_0.woff2') format('woff2'),
		 url('%=static=%fonts/33A0DB_3_0.woff') format('woff'),
		 url('%=static=%fonts/33A0DB_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'josefin_sanslight';
    src: url('%=static=%fonts/josefinsans-light-webfont.eot');
    src: url('%=static=%fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('%=static=%fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('%=static=%fonts/josefinsans-light-webfont.woff') format('woff'),
         url('%=static=%fonts/josefinsans-light-webfont.ttf') format('truetype'),
         url('%=static=%fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansregular';
    src: url('%=static=%fonts/josefinsans-regular-webfont.eot');
    src: url('%=static=%fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('%=static=%fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('%=static=%fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('%=static=%fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('%=static=%fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
