.icon{
    display: inline-block;
}
.diagram-line1{
    @include sprite($diagram-line1);
}
.diagram-line2{
    @include sprite($diagram-line2);
}
.diagram-line3{
    @include sprite($diagram-line3);
}
.diagram-line4{
    @include sprite($diagram-line4);
}
.diagram-line5{
    @include sprite($diagram-line5);
}
.diagram-line6{
    @include sprite($diagram-line6);
}
.diagram-line7{
    @include sprite($diagram-line7);
}
.diagram-line8{
    @include sprite($diagram-line8);
}
.diagram-line9{
    @include sprite($diagram-line9);
}
.diagram-line-second1{
    @include sprite($diagram-line-second1);
}
.diagram-line-second2{
    @include sprite($diagram-line-second2);
}
.diagram-line-second3{
    @include sprite($diagram-line-second3);
}
.diagram-line-second4{
    @include sprite($diagram-line-second4);
}
