$break-320: 359px;
$break-small: 767px;
$break-large: 768px;
$break-middle: 1024px;
$break-large-right: 1280px;
$break-large-max: 1660px;
$break-large-max: 1900px;


@mixin mq($media) {
  @if $media == mb-320 {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @if $media == mb {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == mbP {
    @media only screen and (max-width: $break-small) and (orientation:portrait) { @content; }
  }
  @if $media == mb-ld {
    @media only screen and (max-width: $break-small) and (orientation:landscape) { @content; }
  }
  @if $media == tab {
    @media only screen and (min-width: $break-large) and (max-width: $break-large-right - 1) { @content; }
  }
  @if $media == tabP {
    @media only screen and (min-width: $break-large) and (max-width: $break-middle) and (orientation:portrait) { @content; }
  }
  @if $media == tab-new {
      @media only screen and (min-width: $break-large) and (max-width: $break-middle) { @content; }
  }
  @if $media == tab-ld {
    @media only screen and (min-width: $break-large) and (max-width: $break-large-right - 1) and (orientation:landscape) { @content; }
  }
  @if $media == tab-hor {
      @media only screen and (width: $break-middle) { @content; }
  }
  @if $media == md {
    @media only screen and (min-width: $break-large-right) and (max-width: $break-large-max) { @content; }
  }
  //@else if $media == reg {
  //  @media only screen and (min-width: $break-middle) and (max-width: $break-large-right - 1) { @content; }
  //}
  @else if $media == lg {
    @media only screen and (min-width: $break-large-right) and (max-width: $break-large-max) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $break-large-max) { @content; }
  }

}
@mixin retina{
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin gradient{
    background: rgba(246,188,154,1);
    background: -moz-linear-gradient(top, rgba(246,188,154,1) 0%, rgba(236,174,141,1) 24%, rgba(225,159,125,1) 44%, rgba(204,130,98,1) 65%, rgba(194,113,84,1) 84%, rgba(186,103,73,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,188,154,1)), color-stop(24%, rgba(236,174,141,1)), color-stop(44%, rgba(225,159,125,1)), color-stop(65%, rgba(204,130,98,1)), color-stop(84%, rgba(194,113,84,1)), color-stop(100%, rgba(186,103,73,1)));
    background: -webkit-linear-gradient(top, rgba(246,188,154,1) 0%, rgba(236,174,141,1) 24%, rgba(225,159,125,1) 44%, rgba(204,130,98,1) 65%, rgba(194,113,84,1) 84%, rgba(186,103,73,1) 100%);
    background: -o-linear-gradient(top, rgba(246,188,154,1) 0%, rgba(236,174,141,1) 24%, rgba(225,159,125,1) 44%, rgba(204,130,98,1) 65%, rgba(194,113,84,1) 84%, rgba(186,103,73,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,188,154,1) 0%, rgba(236,174,141,1) 24%, rgba(225,159,125,1) 44%, rgba(204,130,98,1) 65%, rgba(194,113,84,1) 84%, rgba(186,103,73,1) 100%);
    background: linear-gradient(to bottom, rgba(246,188,154,1) 0%, rgba(236,174,141,1) 24%, rgba(225,159,125,1) 44%, rgba(204,130,98,1) 65%, rgba(194,113,84,1) 84%, rgba(186,103,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bc9a', endColorstr='#ba6749', GradientType=0 );
}
@mixin gradient-2{
    background: rgba(186,103,73,1);
    background: -moz-linear-gradient(45deg, rgba(186,103,73,1) 0%, rgba(194,113,84,1) 16%, rgba(204,130,98,1) 38%, rgba(225,159,125,1) 61%, rgba(236,174,141,1) 85%, rgba(246,188,154,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(186,103,73,1)), color-stop(16%, rgba(194,113,84,1)), color-stop(38%, rgba(204,130,98,1)), color-stop(61%, rgba(225,159,125,1)), color-stop(85%, rgba(236,174,141,1)), color-stop(100%, rgba(246,188,154,1)));
    background: -webkit-linear-gradient(45deg, rgba(186,103,73,1) 0%, rgba(194,113,84,1) 16%, rgba(204,130,98,1) 38%, rgba(225,159,125,1) 61%, rgba(236,174,141,1) 85%, rgba(246,188,154,1) 100%);
    background: -o-linear-gradient(45deg, rgba(186,103,73,1) 0%, rgba(194,113,84,1) 16%, rgba(204,130,98,1) 38%, rgba(225,159,125,1) 61%, rgba(236,174,141,1) 85%, rgba(246,188,154,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(186,103,73,1) 0%, rgba(194,113,84,1) 16%, rgba(204,130,98,1) 38%, rgba(225,159,125,1) 61%, rgba(236,174,141,1) 85%, rgba(246,188,154,1) 100%);
    background: linear-gradient(45deg, rgba(186,103,73,1) 0%, rgba(194,113,84,1) 16%, rgba(204,130,98,1) 38%, rgba(225,159,125,1) 61%, rgba(236,174,141,1) 85%, rgba(246,188,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba6749', endColorstr='#f6bc9a', GradientType=1 );
}

@mixin fs($size) {
  @if map_has_key($fontSize, $size) {
    $size: map_get($fontSize, $size);
    font-size: $size;
  }
}
@mixin lh($size) {
  @if map_has_key($lineHeight, $size) {
    $size: map_get($lineHeight, $size);
    line-height: $size;
  }
}
@mixin inline-block(){
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

@mixin trans3d($x, $y){
  transform: translate3d($x, $y, 0);
}
@mixin rotate($deg){
  transform: rotate($deg);
}

@mixin color($color, $type) {
  @if map_has_key($colors, $color) {
    $color: map_get($colors, $color);
    #{$type}:$color;
  }
}
@mixin spacings($size, $type) {
  @if map_has_key($spacings, $size) {
    $size: map_get($spacings, $size);
    #{$type}:$size;
  }
}

@mixin cf(){
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin cf-off(){
  & {
    *zoom: normal;
  }
  &:before,
  &:after {
    display: none;
  }
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


@mixin input-placeholder( $color, $opacity: ".5" ) {
  @if map_has_key($colors, $color) {
    $color: map_get($colors, $color);
    &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &:-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::placeholder {
      color: $color;
      opacity: $opacity;
    }
  }
}
