<div class="ajax-wrapp">
    <div class="inner-page_wrapp orrigin">
        <div class="inner-row first">
            {{#with rowone}}
                <div class="text js-inner-annimete" data-trans="0">
                    <h3>{{title}}</h3>
                    <p>{{{text}}}</p>
                    <div class="img">
                        <img src="{{textimg}}" alt="">
                        <span class= "{{position}}">{{price}}</span>
                    </div>
                </div>
                <div class="img-one js-inner-annimete" data-trans="0">
                    <img src="{{imgone.src}}" alt="">
                    <span class= "{{imgone.position}}"> {{imgone.price}} </span>
                </div>
                <div class="img-two js-inner-annimete" data-trans="0">
                    <img src="{{imgtwo.src}}" alt=""> 
                    <span class="{{imgtwo.position}}">{{imgtwo.price}}</span>
                </div>
            {{/with}}
        </div>
        <div class="inner-row second">
            {{#with rowtwo}}
                <div class="text js-inner-annimete {{textcenter}}" data-trans="{{texttrans}}">
                    <div class="title">
                        <h4>{{{title}}}</h4>
                    </div>
                    <div class="img">
                        <img src="{{textimg}}" alt="">
                        <span class="{{position}}">{{price}}</span>
                    </div>
                </div>
                <div class="img-one js-inner-annimete {{textcenter}}" data-trans="0">
                    <img src="{{imgone.src}}" alt="">
                    <span class="{{imgone.position}}">{{imgone.price}}</span>
                </div>
                <div class="img-two js-inner-annimete " data-trans={{imgtwo.trnas}}>
                    <img src="{{imgtwo.src}}" alt="">
                    <span class="{{imgtwo.position}}">{{imgtwo.price}}</span>
                </div>
            {{/with}}
        </div>
    </div>
</div>
<div class="inner-nav">
    <div class="inner-nav-wrapp">
        {{#each nav}}
            <a href="{{href}}" class="{{class}}">{{link}}</a>
        {{/each}}
    </div>
</div>
