<html>
    {{> head/head }}
    <body data-page-id="3" class="about-page">
        <div class="white-pattern"></div>
        {{> mobilemenu/mobilemenu}}
        {{> header/header}}
        {{> about/about about}}
    </body>

    {{> scripts/scripts}}

</html>

