<html>
    {{> head/head }}
    <body data-page-id="5" class="inner-page">
        <div class="white-pattern"></div>
        {{> mobilemenu/mobilemenu}}
        {{> header/header}}
        {{> innerpage/innerpage innerpage.entertain}}
    </body>

    {{> scripts/scripts}}

</html>

