<html>
    {{> head/head }}
    <body data-page-id="2" class="one-slider-page">
        <div class="white-pattern"></div>
        {{> mobilemenu/mobilemenu}}
        {{> header/header}}
        {{> fashion/fashion}}
    </body>

    {{> scripts/scripts}}

</html>

