<html>
    {{> head/head }}
    <body data-page-id="1" class="two-slider-page">
        <div class="white-pattern"></div>
        {{> mobilemenu/mobilemenu}}
        {{> header/header}}
        {{> homeware/homeware}}
    </body>

    {{> scripts/scripts}}

</html>

