<div class="mobile-menu_wrapp">
    <nav>
        <ul>
            <li class="colaction">
                <a href="#" class="js-change-page">COLLECTIONS</a>
                <div class="second-mennu">
                    <ul>
                        <li>
                            <a href="fashion.html" class="active js-change-page">FASHION</a>
                        </li>
                        <li>
                            <a href="homeware.html" class="js-change-page">HOMEWARE</a>
                        </li>
                        <li>
                            <a href="luggage.html" class="js-change-page">BAGS</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="about.html" class="js-change-page">ABOUT</a>
            </li>
            <li>
                <a href="contact.html" class="js-change-page">CONTACT</a>
            </li>
        </ul>
        <div class="socials">
            <a href="#" class="face">
                <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1.000000, -1.000000)" fill="#3B3B3C">
                            <path d="M18.6016495,1 L2.02786336,1 C1.46015605,1 1,1.46930722 1,2.04830459 L1,18.9516954 C1,19.5306928 1.46015605,20 2.02786336,20 L10.9505342,20 L10.9505342,12.6424291 L8.52314295,12.6424291 L8.52314295,9.77521193 L10.9505342,9.77521193 L10.9505342,7.66055247 C10.9505342,5.2057147 12.4208553,3.86999415 14.5664349,3.86999415 C15.5956597,3.86999415 16.4792138,3.9477492 16.73652,3.98246127 L16.73652,6.54698918 L15.2471392,6.54837767 C14.0804121,6.54837767 13.8544183,7.11349021 13.8544183,7.94380298 L13.8544183,9.77521193 L16.6384986,9.77521193 L16.2763639,12.6424291 L13.8544183,12.6424291 L13.8544183,20 L18.6016495,20 C19.1693568,20 19.6295129,19.5306928 19.6295129,18.9516954 L19.6295129,2.04830459 C19.6295129,1.46930722 19.1693568,1 18.6016495,1" id="Fill-13"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" class="insta">
                <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-40.000000, -1.000000)" fill-rule="nonzero" fill="#3B3B3C">
                            <path d="M55.7427667,1 L43.2572333,1 C41.4583556,1 40,2.45835556 40,4.25723333 L40,16.7429778 C40,18.5416444 41.4583556,20 43.2572333,20 L55.7429778,20 C57.5416444,20 59,18.5416444 59,16.7427667 L59,4.25723333 C59,2.45835556 57.5416444,1 55.7427667,1 Z M46.4416651,8.80079644 L46.4416651,8.80079644 C46.4429718,8.79861867 46.4444963,8.79622313 46.4462386,8.79360981 C46.4852218,8.72348567 46.5270363,8.65532153 46.5708108,8.58824627 C46.5965092,8.54882867 46.6237322,8.51093551 46.6509551,8.47260679 C46.6812271,8.43035809 46.7121523,8.38898049 46.7441665,8.34803845 C46.7716072,8.31275861 46.7983946,8.27747877 46.8273598,8.24350558 C46.8818057,8.17904365 46.9386473,8.1165417 46.9976666,8.05599975 C47.026414,8.02659988 47.056686,7.9982889 47.0865223,7.96976013 C47.1289901,7.92925365 47.172329,7.88983605 47.2169747,7.85150733 C47.246811,7.82580966 47.2762118,7.79989422 47.3069193,7.77506767 C47.3759567,7.7193168 47.4473897,7.66574371 47.520565,7.61521949 C47.5471346,7.59692624 47.5750109,7.57993964 47.6022338,7.5625175 C47.6601643,7.52484211 47.7191836,7.48890894 47.7795097,7.4545002 C47.8084749,7.43816694 47.8372223,7.42139813 47.8666231,7.4057182 C47.9504698,7.3615095 48.0356232,7.31969636 48.1229544,7.28223875 C48.1432083,7.27352767 48.1641155,7.26634104 48.1843694,7.25806552 C48.2592869,7.22757677 48.3352934,7.19970133 48.4128243,7.17443922 C48.4404829,7.1652926 48.4679236,7.15636375 48.4955821,7.14808823 C48.5918424,7.11934169 48.6889739,7.09342625 48.7882832,7.07295523 C48.7991724,7.07055969 48.810715,7.06925303 48.8216041,7.06707526 C48.9128555,7.04899978 49.0056313,7.03549762 49.0990604,7.02460878 C49.1267189,7.0215599 49.1543775,7.01872881 49.1818182,7.01611548 C49.2867899,7.0065333 49.3928505,7 49.5002178,7 C49.6075851,7 49.7134279,7.0065333 49.8186174,7.01611548 C49.8460581,7.01872881 49.8737166,7.0215599 49.9011574,7.02460878 C49.9950221,7.03527984 50.0875801,7.04899978 50.1788314,7.06707526 C50.1899384,7.06925303 50.2014809,7.07055969 50.2121523,7.07295523 C50.3114616,7.09342625 50.4085931,7.11934169 50.5048535,7.14808823 C50.532512,7.15658153 50.5597349,7.16551038 50.5873934,7.17443922 C50.6649244,7.19991911 50.7413664,7.22801232 50.8165018,7.2582833 C50.8369734,7.26655882 50.8574451,7.27352767 50.8772634,7.28223875 C50.9645946,7.31969636 51.0499658,7.3615095 51.1340302,7.40593597 C51.1629955,7.42118035 51.1915251,7.43773139 51.2202725,7.45384687 C51.2812519,7.48825561 51.3409246,7.52484211 51.3997262,7.56273528 C51.426078,7.58015742 51.4535188,7.59649068 51.479435,7.61456616 C51.5532636,7.66530815 51.6249144,7.71909903 51.6943874,7.77528544 C51.7244415,7.79967645 51.7534068,7.82515633 51.7825898,7.85041844 C51.827671,7.88940049 51.871881,7.92947142 51.9150022,7.97063124 C51.9441852,7.99872445 51.9740215,8.02616433 52.0018978,8.05512864 C52.0615705,8.11588837 52.1186298,8.17904365 52.1737291,8.24415891 C52.2018232,8.27726099 52.228175,8.3118875 52.2549624,8.34629624 C52.2876299,8.38810939 52.3194263,8.43057586 52.3503516,8.47391345 C52.3771389,8.51137106 52.4039263,8.54882867 52.4291892,8.58737517 C52.7889677,9.13747939 53,9.79385869 53,10.5001089 C53,12.4326603 51.4326115,14 49.5,14 C47.5669529,14 46,12.4326603 46,10.5001089 C46.0004356,9.88292941 46.1613776,9.3045142 46.4416651,8.80079644 Z M57,15.6802306 C57,16.9616094 55.9253896,18 54.6000509,18 L44.3999491,18 C43.0743983,18 42,16.9616094 42,15.6802306 L42,9 L44.3027972,9 C44.1364935,9.50484154 44.0454931,10.0422866 44.0454931,10.6000319 C44.0454931,13.5117906 46.4878666,15.8727757 49.5,15.8727757 C52.5121334,15.8727757 54.9545069,13.5117906 54.9545069,10.6000319 C54.9545069,10.0420815 54.8635065,9.50484154 54.6972028,9 L57,9 L57,15.6802306 Z M57,4.73327803 C57,4.8805351 56.8807425,5 56.733278,5 L55.266722,5 C55.1192575,5 55,4.88074251 55,4.73327803 L55,3.26672197 C55,3.1194649 55.1192575,3 55.266722,3 L56.733278,3 C56.8807425,3 57,3.1194649 57,3.26672197 L57,4.73327803 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div> 
    </nav>
</div>